<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="bridgeUrl" value="api.storj.io" />
    <Parameter name="bridgeUser" value="ssa3512+StorjDotNetCI@gmail.com" />
    <Parameter name="bridgePass" value="f7a7cf08e76001545c9767265503802dd972a7dd3bfb430b54b664dda5ba6529" />
  </TestRunParameters>
</RunSettings>